
@tailwind base;
@tailwind components;
@tailwind utilities;

.ReactCollapse--collapse {
    transition: height 500ms;
}
.scrollteamg::-webkit-scrollbar-track{
    background:#212425;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

@media screen and (min-width:450px)  {
    .scrollteamg{grid-template-columns: repeat(2,minmax(0, 2fr));}
    .tn{font-size:3rem;}
    .tl{width:20rem;}}
@media screen and (max-width:450px){
    .tn{font-size:1.7rem;}
    .tl{width:12rem;height:.2rem}
    .teams{width:100%;}
    .scrollteamg{width:17rem;;}}

@media screen and (max-width:310px) {
    .scrollteamg{width:100%;}}

::-webkit-scrollbar-thumb{
    background-color:#FF3131;
    border: 1px solid#141414;
    border-radius:0.625rem;
}
::-webkit-scrollbar{width:0.625rem;}

::-webkit-scrollbar-track{background:#141414;}

.writing-mode{
    writing-mode: vertical-lr;
}